In [1]:
import pandas as pd 
import numpy as np 
import nltk 
nltk.download('stopwords') 
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nawal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Nawal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk.stem import PorterStemmer 
import os 
import string 
import copy 
import pickle

In [4]:
os.chdir("C:/Users/Nawal/Desktop/recovery/20_newsgroups") 
paths = [] 
for (dirpath, dirnames, filenames) in os.walk(str(os.getcwd())): 
    for i in filenames:
        paths.append(str(dirpath)+str("/")+i)  

print(dirpath)

C:\Users\Nawal\Desktop\recovery\20_newsgroups\alt.atheism

In [5]:
paths[0]

'C:\\Users\\Nawal\\Desktop\\recovery\\20_newsgroups\\alt.atheism/49960'

In [6]:
def remove_stop_words(data): 
    stop_words = stopwords.words('english') 
    words = word_tokenize(str(data)) 
    new_text = "" 
    for w in words: 
        if w not in stop_words: 
            new_text = new_text + " " + w 
    return np.char.strip(new_text)

In [7]:
def remove_punctuation(data): 
    symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n" 
    for i in range(len(symbols)): 
        data = np.char.replace(data, symbols[i], ' ') 
        data = np.char.replace(data, "  ", " ") 
    data = np.char.replace(data, ',', '') 
    return data

In [8]:
def convert_lower_case(data): 
    return np.char.lower(data)

def stemming(data): 
    stemmer= PorterStemmer() 
     
    tokens = word_tokenize(str(data)) 
    new_text = "" 
    for w in tokens: 
        new_text = new_text + " " + stemmer.stem(w) 
    return np.char.strip(new_text)

In [9]:
def convert_numbers(data): 
    data = np.char.replace(data, "0", " zero ") 
    data = np.char.replace(data, "1", " one ") 
    data = np.char.replace(data, "2", " two ") 
    data = np.char.replace(data, "3", " three ") 
    data = np.char.replace(data, "4", " four ") 
    data = np.char.replace(data, "5", " five ") 
    data = np.char.replace(data, "6", " six ") 
    data = np.char.replace(data, "7", " seven ") 
    data = np.char.replace(data, "8", " eight ") 
    data = np.char.replace(data, "9", " nine ") 
    return data

def remove_header(data): 
    try: 
        ind = data.index('\n\n') 
        data = data[ind:] 
    except: 
        print("No Header") 
    return data 

def remove_apostrophe(data): 
    return np.char.replace(data, "'", "")

def remove_single_characters(data): 
    words = word_tokenize(str(data)) 
    new_text = "" 
    for w in words: 
        if len(w) > 1: 
            new_text = new_text + " " + w 
    return np.char.strip(new_text)

In [10]:
def preprocess(data, query): 
    if not query: 
        data = remove_header(data) 
        data = convert_lower_case(data)
        data = convert_numbers(data) 
        data = remove_punctuation(data)
        data = remove_stop_words(data)
        data = remove_apostrophe(data)
        data = remove_single_characters(data)
        data = stemming(data)
     
    return data

In [11]:
doc = 0 
postings = pd.DataFrame() 
 
for path in paths: 
    file = open(path, 'r', encoding='cp1250') 
    text = file.read().strip() 
    file.close() 
    preprocessed_text = preprocess(text, False) 
     
    if doc%100 == 0: 
        print(doc) 
 
    tokens = word_tokenize(str(preprocessed_text)) 
    for token in tokens: 
        if token in postings: 
            p = postings[token][0] 
            p.add(doc) 
            postings[token][0] = p 
            
        else: 
            postings.insert(value=[{doc}], loc=0, column=token) 
    doc += 1

0
100
200
300
400
500
600
700
800
No Header
900

In [12]:
postings

,kneel,hinduism,revert,infur,amok,trembl,portray,ingersol,mencken,voltair,...,nine,decemb,one,modifi,last,alt,resourc,atheism,name,archiv
0,{999},{999},{999},{999},{999},{999},{999},{999},{999},{999},...,"{0, 1, 2, 4, 5, 17, 18, 19, 22, 24, 27, 29, 30...","{0, 656, 640}","{0, 1, 2, 3, 4, 5, 7, 8, 13, 14, 16, 17, 18, 1...","{0, 1, 414, 867, 900, 901, 713, 490, 203, 204,...","{0, 1, 772, 900, 901, 263, 264, 391, 647, 145,...","{0, 1, 129, 130, 900, 901, 134, 135, 137, 139,...","{0, 98, 900, 901, 203, 205, 847, 976, 821, 662...","{0, 1, 5, 6, 517, 532, 538, 29, 542, 36, 37, 4...","{0, 1, 512, 7, 524, 34, 36, 555, 559, 561, 50,...","{0, 1, 900, 901, 203, 204, 205, 670}"

In [16]:
def get_word_postings(word):
    preprocessed_word = str(preprocess(word, True))
    print(preprocessed_word)
    print("Frequency:",len(postings[preprocessed_word][0]))
    print("Postings List:",postings[preprocessed_word][0])
    
get_word_postings("nine")

nine
Frequency: 526
Postings List: {0, 1, 2, 4, 5, 17, 18, 19, 22, 24, 27, 29, 30, 31, 34, 36, 37, 40, 42, 44, 46, 47, 48, 53, 56, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 99, 100, 102, 103, 105, 108, 111, 112, 113, 121, 122, 126, 134, 135, 137, 139, 140, 141, 142, 143, 145, 146, 154, 158, 160, 161, 162, 163, 164, 167, 168, 169, 170, 174, 175, 177, 178, 179, 180, 181, 183, 186, 196, 200, 201, 202, 203, 204, 205, 206, 208, 213, 215, 217, 218, 222, 224, 225, 228, 229, 230, 233, 234, 237, 239, 240, 241, 242, 244, 247, 250, 255, 259, 262, 263, 264, 265, 268, 269, 270, 271, 273, 275, 276, 277, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 299, 301, 302, 306, 315, 316, 317, 319, 320, 321, 322, 327, 328, 329, 333, 334, 335, 336, 348, 350, 354, 356, 357, 358, 359, 363, 364, 365, 370, 374, 378, 382, 383, 384, 385, 387, 388, 391, 392, 393, 394, 397, 398, 399, 400, 402, 403, 404, 405, 406, 408, 410, 411, 413, 414, 417, 420, 422, 423, 426, 427, 429, 430, 431, 434, 437, 438, 439, 441, 443, 450, 451, 452, 456, 459, 460, 461, 462, 463, 467, 468, 470, 471, 474, 475, 476, 477, 480, 483, 484, 488, 489, 490, 491, 492, 493, 497, 498, 500, 501, 503, 511, 513, 514, 516, 517, 518, 519, 520, 521, 523, 524, 525, 526, 527, 528, 532, 534, 535, 537, 540, 544, 546, 547, 548, 549, 551, 552, 553, 554, 555, 556, 557, 558, 560, 562, 563, 564, 565, 566, 568, 569, 570, 571, 575, 576, 577, 578, 579, 589, 595, 597, 598, 600, 602, 605, 607, 608, 609, 610, 611, 612, 617, 619, 620, 622, 624, 628, 629, 630, 634, 635, 637, 640, 641, 642, 643, 644, 645, 646, 647, 648, 650, 651, 652, 653, 655, 656, 659, 661, 663, 666, 667, 668, 669, 670, 671, 673, 674, 677, 681, 683, 684, 688, 689, 690, 691, 693, 694, 695, 698, 699, 700, 702, 707, 708, 709, 710, 711, 712, 714, 716, 718, 719, 722, 724, 725, 727, 730, 732, 734, 735, 736, 737, 740, 743, 745, 747, 749, 755, 756, 757, 758, 761, 762, 763, 765, 766, 768, 769, 773, 774, 775, 776, 777, 779, 780, 783, 784, 785, 786, 788, 791, 793, 795, 797, 800, 801, 802, 804, 805, 806, 807, 809, 810, 811, 813, 814, 815, 816, 826, 829, 830, 832, 833, 834, 835, 836, 837, 840, 842, 849, 851, 852, 854, 856, 858, 862, 864, 865, 867, 869, 871, 873, 874, 876, 878, 881, 882, 885, 887, 888, 889, 890, 891, 892, 896, 898, 899, 900, 901, 902, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 916, 917, 918, 925, 926, 927, 928, 930, 931, 932, 933, 936, 939, 940, 941, 942, 947, 949, 950, 954, 955, 959, 960, 962, 963, 964, 974, 976, 977, 980, 981, 985, 987, 989, 991, 992, 994, 995, 997, 998, 999}

In [18]:
def  generate_command_tokens(query):
    query = query.lower()
    tokens = word_tokenize(query)
    
    commands = []
    query_words = []
    
    for t in tokens:
        if t not in ['and', 'or', 'not']:
            processed_word = preprocess([t], True)
            print(str(processed_word))
            query_words.append(str(processed_word))
        else:
            commands.append(t)
            
    return commands, query_words

In [35]:
def gen_not_tuple(query_words, commands):

    tup = []

    while 'not' in commands:

        i = commands.index('not')

        word = query_words[i]

        word_postings = get_not(word)

        tup.append(word_postings)

        commands.pop(i)

        query_words[i] = i

        print('\nAfter Not Processing:', commands, query_words)

    return tup


def binary_operations(query_words, commands, tup):

    a = postings[query_words[0]][0]

    query_words.pop(0)

    for i in range(len(commands)):

        if type(query_words[i]) == int:
            b = tup.pop(0)
        else:
            b = postings[query_words[i]][0]

        if commands[i] == 'and':
            a = a.intersection(b)
        elif commands[i] == 'or':
            a = a.union(b)
        else:
            print('Invalid Command')

    return a


def execute_query(query):

    (commands, query_words) = generate_command_tokens(query)
    tup = gen_not_tuple(query_words, commands)

    print('\nCommands:', commands)

    print('\nQuery Words:', query_words)

    print('\nTup:', len(tup))

    final_set = binary_operations(query_words, commands, tup)

    print('\nFinal Set:', final_set)
    
    return final_set


def print_file(file):

    out_file = open(paths[file], 'r', encoding='cp1250')

    out_text = out_file.read()

    print(out_text)

In [36]:
query = "exam and not resource"